@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand-Medium.ttf);
}

@font-face {
  font-family: Playfair;
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

body {
    font-family: Quicksand
}

.container {
    width: 1920px
}

.cover_topmenu {
    background: black;
}

.topmenu {
    height: 50px;
    display: inline-block;
    text-transform: uppercase;
}

.topmenu ul {
    margin-top: 15px;
    padding-left: 196px
}

.topmenu li {
    display: inline-block;
    padding-right: 30px;
}

.topmenu li a{
    color:white;
    font-weight: 700;
    font-size: 14px;
}

.topmenu li a:hover {
    text-decoration: none;
    color: green
}
.top-right-header {
    position: relative;
}

.header_search {
    position: absolute;
    top: 12px;
}

.header_search i {
    font-size: 20px;
}
.header_search .input_search {
    background: none;
    border: none;
    border-bottom: 1px solid darkgray;
    width: 125px;
}

.header_search .input_search:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid darkgray;
}

.language_bar_list {
    display: inline-block;
    position: absolute;
    padding: 0px;
    left: 155px;
    top: 12px;
}
.language_bar_list li{
    min-width: 25px;
}

.language_bar_list li a img {
    margin-right: 0px;
}

.mainmenu {
    height: 130px;
    display: inline-block;
    width:100%;
    text-transform: uppercase;
    text-align: center;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-position: 196px 21px;
    margin-bottom: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.mainmenu ul {
    display: inline-block;
    padding-left: 60px;
        margin-top: 47px;
}

.mainmenu li {
    display: inline-block;
    padding-right: 75px;
}

.mainmenu li a{
    color: black;
    padding-bottom: 52px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1em
}

.mainmenu li a:hover span{
    border-bottom: none;
}

.mainmenu li a:hover {
    color: green;
    border-bottom: 3px solid green;
    text-decoration: none;
}

.banner {
    height: 920px;
}

.footer {
    height: 100px;
    display: inline-block;
    width:100%;
    /* border: 1px solid gray; */
}

.home_content, .main_content {
    width: 1560px;
    margin:auto;
}

.main_title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 50px;
    margin-top: 100px;
    padding-left: 70px;
}

.main_title a {
    margin-left: 20px;
    color: green;
    text-decoration: none;
}

.home_collection li {
    height: 600px;
    width: 470px;
    display: inline-block;
    margin-right: 40px;
    position: relative;
    border-radius: 20px;
}

.home_collection li:last-child {
    margin-right: 0px;
}

.home_collection li:hover .cate_block {
    width: 512px;
    height: 655px;
    bottom: -28px;
    right: -21px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
}

.home_collection li .cate_block {
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    right: 0px;
    transition: bottom 0.4s, right 0.4s, width 0.4s, height 0.4s
}

.home_collection li:hover .cate_block a{
    color: green;
    background: #FFFFFF;
    text-decoration: none;
}

.home_collection .cover_title {
    position: absolute;
    width: 100%;
    height: 436px;
    bottom: 0px;
    text-align: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #091728 100%);
    border-radius: 20px
}

.home_collection .title {
    font-family: Playfair;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    display: inline-block;
    color: white;
    padding: 70px;
}

.home_collection li:hover .discover {
    bottom: 48px;
}

.home_collection li:hover .cover_title {
    height: 464px;
}

.home_collection .discover {
    position: absolute;
    bottom: 20px;
    text-align:center;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    transition: bottom 0.4s;
}

.home_collection .discover a {
    height: 44px;
    width: 169px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    padding-left: 20px;
    padding-top: 8px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    font-family: Playfair;
    color: white;
}

.home_collection .discover a i {
    margin-left: 35px;
}

.footer {
    border-top: 1px solid #CDD6E7;
    margin-top: 240px;
    padding-top: 100px
}

.footer_search input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #666666;
 }

.footer_search input[type="submit"] {
    margin-left: -50px;
    height: 20px;
    width: 50px;
}

.footer_text {
    text-align: center;
    border-top: 1px solid #CDD6E7;
    padding: 42px 0px 42px 0px;
    margin-top: 100px;
}

/* scroll */
/* html {
    scroll-behavior: smooth;
}
body .scrollup {
    bottom: 85px
}
.scrollup {
    background-color: #171717;
    bottom: 20px;
    color: #fff;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 99
}

.scrollup:hover {
    background-color: var(--color-1st);
    color: #fff
}

.scrollup:focus {
    color: #fff
} */
/* scroll */

/* start collection */
.page-intro {
    position: relative;
    width: 1920px;
    height: 680px;
    left: -16px;
}


.page-intro .social {
    margin-top: 10px
}

.page-intro .breadcrumb {
    position: relative;
    z-index: 10;
    background-color: transparent;
    margin-bottom: 0
}
.page-intro__title{
    position: absolute;
    width: 324px;
    height: 128px;
    left: 798px;
    top: 324px;

    font-family: Playfair;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 128px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

    text-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
}
.description
{
    position: absolute;
    width: 747px;
    height: 60px;
    left: 586px;
    top: 468px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
}

/* start footer */
.social-links a{
    text-align:center;
      float: left;
      width: 36px;
      height: 36px;
      border: 2px solid #909090;
      border-radius: 100%;
      margin-right: 41px; /*space between*/
      display: flex;
      align-items: flex-start;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
  }
  .social-links a i{
      font-size: 20px;
      align-self:center;
      color: #909090;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      margin: 0 auto;
  }
  .social-links a i::before{
    display:inline-block;
    text-decoration:none;
  }
  .social-links a:hover{
    background: rgba(0,0,0,0.2);
  }
  .social-links a:hover i{
    color:#fff;
  }
  .footer_social{
    padding-left: 195px;
  }

 .footer p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    color: #666666;
  }
  .footer a {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    color: #666666;
  }
  
.footer_logo {
    padding-left: 50px;
 }
  
.footer h3 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #118A20;
}


/* category */
.cate_top{
    height: 520px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner-title {
    padding-top: 150px;
}

.banner-title .c_name {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 128px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
}

.banner-title .c_desc {
    width: 747px;
    margin: auto;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}


.cate_slide{
    border: 1px solid;
    width: 1920px;
    height: 332px;
}

.cate_info {
   margin-top: 150px;
   margin-bottom: 120px;
}

.cate_info .main_content {
    background-image: url(/storage/logo-sinnika-1.png);
    background-repeat: no-repeat;
}
    
.cate_info .cinfo {
    padding-left: 370px;
}

.cate_info .cinfo_desc{
    width: 770px;
    height: 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.cover_download_btn {
    text-align: right
}

.cate_info .btn-download {
    color: green;
    font-size: 18px;
    font-family: Playfair;
    margin-top: 74px;
    padding: 20px 50px 20px 50px;
    border: 1px solid green;
}

.cinfo_img{
    border: 1px solid;
    width: 327px;
}
.cinfo{
    padding-left: 370px
}
.cinfo_name{
    width: 351px;
    height: 60px;
    /* left: 568px;
    top: 1203px; */
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
}

.cinfo_btn{
    height: 68px;
    width: 328px;
}

.cate_bottom{
    border: 1px solid;
    width: 1920px;
    height: 650px;
}

.subcate .subcate_row {
    margin-bottom: 60px;
}

.subcate_item {
    width: 470px;
    height: 600px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.subcate .white_bg {
    background-color: white;
    position: absolute;
    z-index: 0;
    height: 182px;
    width: 100%;
    bottom: 0;
}

.subcate .subcate_name {
    position: absolute;
    z-index: 1;
    bottom: 110px;
    font-family: Playfair;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    width: 100%;
}

.subcate .subcate_desc {
    position: absolute;
    z-index: 2;
    height: 324px;
    bottom: 0px;
    color: white;
    background-color: #118A20;
    opacity: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Quicksand;
    border-radius: 0 0 20px 20px;
    transition: opacity 0.9s;
}

.subcate .subcate_desc p {
    font-family: Playfair;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.subcate .subcate_item:hover .subcate_desc {
    opacity: 1;
}

.subcate .subcate_item:hover .subcate_btn {
    background-color: white;
    color: #118A20;
    border-color: white;
}

.subcate .cover_subcate_btn {
    position: absolute;
    z-index: 3;
    bottom: 25px;
    width: 100%;
    text-align: center;
}

.subcate .cover_subcate_btn i {
    margin-left: 25px;
}

.subcate .subcate_btn {
    font-family: Playfair;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 25px 10px 25px;
}

.subcate .subcate_btn a {
    margin-left: 20px;
}

.relative_cate .cate_block {
    height: 655px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relative_cate .cate_block .title {
    font-family: Playfair Display;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 85px;
    letter-spacing: 0em;
}

.relative_cate .cate_block .discover {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

.relative_cate .cate_block .discover a {
    height: 44px;
    width: 169px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    padding-left: 20px;
    padding-top: 8px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    font-family: Playfair;
    color: white;
}

.relative_cate .cate_block .discover a:hover {
    text-decoration: none;
    background-color: white;
    color: #118A20
}

.relative_cate .cate_block .discover a i {
    margin-left: 35px
}
/* flickity scroll slider */
/* external css: flickity.css */
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  /* background: #EEE; */
  width:1920px;
  margin-left:15px;
}

.carousel-cell {
  height: 300px;
  width: 280px;
  border-radius: 20px;
  counter-increment: carousel-cell;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
   
}

.carousel-cell.is-selected {
  /* background: #ED2; */
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  /* content: counter(carousel-cell); */
  line-height: 200px;
  font-size: 80px;
  color: white;
  
}

.carousel-cell-image {
    width: 280px;
    height: 300px;
    background: #FFFFFF;
    border-radius: 20px;

}
.carousel-cell-image:hover {
   width:290px;
   height: 310px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
}

.carousel-cell .centered {
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-family: Playfair;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height */
    text-transform: capitalize;

}

.carousel-cell .btn_discovery {
    text-align: center;
}

.carousel-cell .btn_discovery a {
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 30px;
    display: none;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    color: #118A20;
    padding-left: 30px;
    padding-top: 8px;
}

.carousel-cell:hover .btn_discovery a {
    display: inline-block
}

.carousel-cell .btn_discovery a i {
    margin-left: 30px;
    margin-right: 20px
}