@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand-Medium.ttf);
}
body {
    font-family: Quicksand
}

.container {
    width: 1920px
}

.cover_topmenu {
    background: black;
}

.topmenu {
    height: 50px;
    display: inline-block;
    text-transform: uppercase;
}

.topmenu ul {
    margin-top: 15px;
    padding-left: 196px
}

.topmenu li {
    display: inline-block;
    padding-right: 30px;
}

.topmenu li a{
    color:white;
    font-weight: 700;
    font-size: 14px;
}

.topmenu li a:hover {
    text-decoration: none;
    color: green
}
.top-right-header {
    position: relative;
}

.header_search {
    position: absolute;
    top: 12px;
}

.header_search i {
    font-size: 20px;
}
.header_search .input_search {
    background: none;
    border: none;
    border-bottom: 1px solid darkgray;
    width: 125px;
}

.header_search .input_search:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid darkgray;
}

.language_bar_list {
    display: inline-block;
    position: absolute;
    padding: 0px;
    left: 155px;
    top: 12px;
}
.language_bar_list li{
    min-width: 25px;
}

.language_bar_list li a img {
    margin-right: 0px;
}

.mainmenu {
    height: 130px;
    display: inline-block;
    width:100%;
    text-transform: uppercase;
    text-align: center;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-position: 196px 21px;
    margin-bottom: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.mainmenu ul {
    display: inline-block;
    padding-left: 60px;
        margin-top: 47px;
}

.mainmenu li {
    display: inline-block;
    padding-right: 75px;
}

.mainmenu li a{
    color: black;
    padding-bottom: 52px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1em
}

.mainmenu li a:hover span{
    border-bottom: none;
}

.mainmenu li a:hover {
    color: green;
    border-bottom: 3px solid green;
    text-decoration: none;
}

.banner {
    height: 920px;
}

.footer {
    height: 100px;
    display: inline-block;
    width:100%;
    /* border: 1px solid gray; */
}

.home_content {
    width: 1560px;
    margin:auto;
}

.main_title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 50px;
    margin-top: 100px;
    padding-left: 70px;
}

.main_title a {
    margin-left: 20px;
    color: green;
    text-decoration: none;
}

.home_collection li {
    height: 600px;
    width: 470px;
    display: inline-block;
    margin-right: 40px;
    position: relative;
    border-radius: 20px
}

.home_collection li:last-child {
    margin-right: 0px;
}

.home_collection li:hover .cate_block {
    width: 512px;
    height: 655px;
    bottom: -28px;
    right: -21px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
}

.home_collection li .cate_block {
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.home_collection li:hover .cate_block a{
    color: green;
    background: #FFFFFF;
    text-decoration: none;
}

.home_collection .cover_title {
    position: absolute;
    width: 100%;
    height: 436px;
    bottom: 0px;
    text-align: center;
}

.home_collection .title {
    font-family: Playfair Display;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    display: inline;
    width: 100px;
}

.home_collection li:hover .discover {
    bottom: 48px;
}

.home_collection .discover {
    position: absolute;
    bottom: 20px;
    text-align:center;
    width: 100%;
    font-style: normal;
    font-weight: bold;
}

.home_collection .discover a {
    height: 44px;
    width: 169px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    padding-left: 20px;
    padding-top: 8px;
    text-align: left;
    font-size: 18px;
    color: white;
}

.home_collection .discover a .fa {
    margin-left: 35px;
}

.footer {
    border-top: 1px solid #CDD6E7;
    margin-top: 240px;
    padding-top: 100px
}

.footer_search input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #666666;
 }

.footer_search input[type="submit"] {
    margin-left: -50px;
    height: 20px;
    width: 50px;
}

.footer_text {
    text-align: center;
    border-top: 1px solid #CDD6E7;
    padding: 42px 0px 42px 0px;
    margin-top: 100px;
}

/* scroll */
/* html {
    scroll-behavior: smooth;
}
body .scrollup {
    bottom: 85px
}
.scrollup {
    background-color: #171717;
    bottom: 20px;
    color: #fff;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 99
}

.scrollup:hover {
    background-color: var(--color-1st);
    color: #fff
}

.scrollup:focus {
    color: #fff
} */
/* scroll */

/* start collection */
.page-intro {
    position: relative;
    width: 1920px;
    height: 680px;
    left: -16px;
}


.page-intro .social {
    margin-top: 10px
}

.page-intro .breadcrumb {
    position: relative;
    z-index: 10;
    background-color: transparent;
    margin-bottom: 0
}
.page-intro__title{
    position: absolute;
    width: 324px;
    height: 128px;
    left: 798px;
    top: 324px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 128px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

    text-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
}
.description
{
    position: absolute;
    width: 747px;
    height: 60px;
    left: 586px;
    top: 468px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
}

/* start footer */
.social-links a{
    text-align:center;
      float: left;
      width: 36px;
      height: 36px;
      border: 2px solid #909090;
      border-radius: 100%;
      margin-right: 41px; /*space between*/
      display: flex;
      align-items: flex-start;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
  }
  .social-links a i{
      font-size: 20px;
      align-self:center;
      color: #909090;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      margin: 0 auto;
  }
  .social-links a i::before{
    display:inline-block;
    text-decoration:none;
  }
  .social-links a:hover{
    background: rgba(0,0,0,0.2);
  }
  .social-links a:hover i{
    color:#fff;
  }
  .footer_social{
    padding-left: 195px;
  }

  p{
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    color: #666666;
  }
  a{
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    color: #666666;
  }
  .footer_logo
  {
    padding-left: 50px;
  }
h3
{
    font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 25px;
/* identical to box height */

text-transform: uppercase;

color: #118A20;
}
