@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand-Medium.ttf);
}
body {
    font-family: Quicksand
}

.container {
    width: 1920px
}

.topmenu {
    height: 50px;
    border: 1px solid gray;
    display: inline-block;
    width:100%;
    background: black;
    text-transform: uppercase;
}

.topmenu li {
    display: inline-block;
    padding-right: 30px;
}

.topmenu li a{
    color:white;
    font-weight: 700;
    font-size: 14px;
}

.topmenu li a:hover {
    text-decoration: none;
    color: green
}

.mainmenu {
    height: 130px;
    border: 1px solid gray;
    display: inline-block;
    width:100%;
    text-transform: uppercase;
    text-align: center;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-position: 34px 21px;
}

.mainmenu ul {
    display: inline-block;
    padding-left: 60px;
        margin-top: 47px;
}

.mainmenu li {
    display: inline-block;
    padding-right: 30px;
}

.mainmenu li a{
    color: black;
    padding-bottom: 55px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1em
}

.mainmenu li a:hover span{
    border-bottom: none;
}

.mainmenu li a:hover {
    color: green;
    border-bottom: 3px solid green;
    text-decoration: none;
}

.banner {
    height: 920px;
    border: 1px solid gray;
}

.topmenu ul {
    margin-top: 10px;
}

.footer {
    height: 550px;
    display: inline-block;
    width:100%;
    border: 1px solid gray;
}

.footer .footer_info {
    width:100%;
    height:450px;
    border: 1px solid gray;
}

.footer .footer_text {
    width:100%;
    height:100px;
    border: 1px solid gray;
}

.footer .footer_text div {
    text-align: center;
    margin-top: 41px;
}

.footer_info .row {
    height:100%;
}
.footer_social {
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-position: center 100px;
    height: 100%
}
.social-container {
    text-align: center;
    margin-top: 130px;
}

.footer_info .col {
    padding-top: 90px;
    border: 1px solid red;
}

.footer_info .col .fa {
    margin-right: 30px;
}

.inner-container {
    width: 1560px;
    margin:auto;
}