
.topmenu {
    height: 50px;
    border: 1px solid gray;
    display: inline-block;
    width:100%
}

.topmenu li {
    display: inline-block;
    width: 50px;
}

.mainmenu {
    height: 130px;
    border: 1px solid gray;
    display: inline-block;
    width:100%
}

.mainmenu li {
    display: inline-block;
    width: 70px;
}

.banner {
    height: 920px;
    border: 1px solid gray;
}

.topmenu ul {
    margin-top: 10px;
}

.footer_info {
    
}

.footer {
    height: 100px;
    display: inline-block;
    width:100%;
    border: 1px solid gray;
}
